{% extends "layout.html" %} {% block header %}
<h1>{% block title %} About {% endblock %}</h1>
{% endblock %} {% block content %}
<h1>About My Flask App</h1>
<img
	src="{{ url_for('static', filename='images/prairie.JPG') }}"
	class="img-fluid"
	alt="image"
/>

<p>
	This is a sample Flask application that demonstrates the basic functionality
	of a web app.
</p>
<p>
	It uses the Jinja2 template engine to render templates and the Flask framework
	to handle routing and request handling.
</p>
{% endblock %}
